.UserProfileContainer {
  display: flex;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(229, 229, 229, 0.2);
  padding-bottom: 1rem;
}

.UserProfileWrapper {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  min-height: 85px;

  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  padding: 0;
  color: rgba(153, 153, 153, 1);
}

.UserProfileTextWrapper {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  overflow: hidden;
}

.UserProfileTextWrapper h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.UserProfileTextWrapper h4 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  color: rgba(153, 153, 153, 1);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.UserProfileTextWrapper p {
  font-size: 0.875rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;
  margin: 0;
}

.ProfilePic {
  width: 64px;
  height: 64px;
  min-width: 64px;
  flex-shrink: 0;
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 2rem;
  object-fit: cover;
}
